body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(45, 45, 45);
    align-items: center;
}

header {
    display: flex;
    border-bottom: solid 1px gray;
    background-color: rgb(45, 45, 45);
}

.cabecalho {
    margin: auto;
    color: rgb(225, 225, 225);
    vertical-align: middle;
}

.logoVini {
    height: 35px;
    width: 35px;
    padding-right: 25px;
    padding-bottom: 8px;
    vertical-align: middle;
}

.cabecalho h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
}

.cabecalho p {
    text-align: center;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

@media (min-width: 1320px) {
    .social {
        margin-left: auto;
        margin-right: 30px;
    }

    .cabecalho h1 {
        font-size: 35px;
    }

    .cabecalho p {
        font-size: 15px;
    }
    
    .meio {
        display: flex;
        align-items: left;
    }

    .logo {
        margin-bottom: 13px;
    }
}

@media (min-width: 880px) and (max-width: 1320px) {
    .cabecalho h1 {
        font-size: 35px;
    }

    .cabecalho p {
        font-size: 13px;
    }
}

@media (max-width: 880px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
    }

    .cabecalho h1 {
        font-size: 28px;
    }

    .cabecalho p {
        font-size: 13px;
    }

    .meio {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .social {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 5px;
        margin-right: 15px;
    }

    .logoVini{
        margin: 0px;
        height: 60px;
        width: 60px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
        vertical-align: middle;
    }

    .cabecalho span::before{
        content: "\a";
        white-space: pre;
    }
}
  
.social {
    display: flex;
    align-items: left;
    margin-left: 5px;
    margin-right: 15px;
    background-color: rgb(194, 194, 194);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: fit-content;
    max-width: 55vw;
    padding-left: 8px;
}

.social-div {
    white-space: nowrap;
    border-left: solid 1px rgb(134, 134, 134);
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-div p {
    margin-bottom: 0px;
}

.logo {
    display: flex;
    margin-right: 20px;
}

.logo img {
    margin-left: 5px;
}

.logo p {
    margin-top: 0px;
    margin-left: 5px;
    size: 20px;
    vertical-align: middle;
}

.social a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    align-items: left;
    margin-left: 4px;
    margin-right: 2px;
    padding: 2px;
}

.social a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.pagina {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    white-space: normal;
    word-break: normal; 
    background-color: rgb(226, 225, 220);
    min-height: 58vh;
    width: calc(100vw - scrollbarWidth);
}

.menu {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 30px;
    max-width: 30vw;
}

.menu a {
    display: block;
}

.menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    list-style-type: none;
    border-radius: 10px;
    text-align: center;

}

@media (min-width: 880px) {
    .menu li {
        white-space: nowrap;
    }
}

.l1 {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.20);
    font-size: 18px;
}

.l2 {
    background-color: rgba(0, 0, 0, 0.08);
    font-size: 16px;
    margin-left: 40px;
}

.link-menu {
    text-decoration: none;
    color: black;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.l1:hover {
    background-color: rgba(0, 0, 0, 0.32);
    cursor: pointer;
    text-decoration: underline;
}

.l2:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: underline;
}

.conteudo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.cont {
    border-left: solid 1px gray;
    min-height: 60vh;
    max-width: 100%;
    margin-right: 5vw;
}

.titulo,
.texto {
    margin-left: 3vw;
}

.titulo {
    font-size: 30px;
}

.texto {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}

.rodape {
    padding-top: 10px;
    padding-bottom: 20px;
    border-top: solid 1px gray;
    margin-top: auto;
    background-color: rgb(45, 45, 45);
    height: auto;
}

.rodape p{
    text-align: center;
    font-size: 10px;
    color: rgb(225, 225, 225);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

@media (max-width: 880px) {
    .li-insert {
        margin-left: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: disc;
        text-align: justify;
    }
}

@media (min-width: 880px) {
    .li-insert {
        margin-left: 5vw;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        list-style: disc;
        text-align: justify;
    }
}

.link-insert-about {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 3px;
    max-width: fit-content;
    word-break: normal;
}

.link-insert {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 3px;
    max-width: fit-content;
    word-break: break-all;
}

@media (max-width: 880px) {
    .social-insert {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 30px;
        width: fit-content;
    }

    .meio-insert {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 5vw;
        width: fit-content;
    }
}

@media (min-width: 1320px) {
    .social-insert {
        display: flex;
        align-items: left;
        margin-left: 8vw;
        margin-top: 60px;
    }
    .meio-insert {
        display: flex;
        align-items: left;
    }
}

@media (min-width: 880px) and (max-width: 1320px){
    .social-insert {
        display: flex;
        align-items: left;
        margin-left: 10vw;
        background-color: transparent;
        margin-top: 30px;
        padding-left: 10px;
    }

    .espaco-social {
        margin-bottom: 40px;
    }
}

.social-insert a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    align-items: left;
    margin-left: 10px;
    padding: 2px;
}

.social-insert a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}